{% extends 'main.html' %}
{% block content %}
{% load static %} {% load custom_tags %}
<html lang="fa">
  <body>
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">افزودن فاکتور</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="{% url 'add_factor' %}" method="post" class="tm-edit-product-form" id="addFactorForm" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="form-group mb-3">
                      <label for="category">دسته بندی</label>
                      <select class="custom-select tm-select-accounts" id="category" name="Category">
                          <option value="">دسته بندی را انتخاب کنید</option>
                          {% for cat in category %}
                              <option value="{{ cat.id }}">{{ cat.name }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form-group mb-3">
                      <label for="name">نام محصول</label>
                      <select class="custom-select tm-select-accounts" id="product" name="name" onchange="handleProductSelection(this.value)">
                        <option value="">محصول را انتخاب کنید</option>
                        {% for i in product %}
                          <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                      </select>
                  </div>
                  <div class="form-group mb-3">
                      <label for="customer">نام مشتری</label>
                      <select class="custom-select tm-select-accounts" id="customer" name="customer">
                          <option value="customer">مشتری را انتخاب کنید</option>
                          {% for i in customer %}
                              <option value="{{ i.id }}">{{ i.name }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form-group mb-3">
                    <label for="dec">توضیحات</label>
                    <br>
                    <textarea class="form-control validate" dir="rtl" name="dec" rows="3" required></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <label for="dec">توضیحات بیشتر</label>
                    <br>
                    <textarea class="form-control validate" dir="rtl" name="dec_2" rows="3" required></textarea>
                  </div>
                  <div class="row">
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="price">قیمت</label>
                      <input id="price" name="price" type="number" class="form-control validate" data-large-mode="true" value="{{ product.price }}" />
                    </div>
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="number">تعداد</label>
                      <input id="number" name="number" type="number" class="form-control validate" data-large-mode="true" 
                             value="{{ product.number }}" oninput="calculateTotalPrice()" />
                    </div>
                    
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="total_price">قیمت کل</label>
                      <input id="total_price" name="total_price" type="number" class="form-control validate" required 
                             value="" />
                    </div>                  
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label
                        for="expire_date"
                        >پرداخت شده؟
                      </label>
                      <br>
                      <input type="checkbox" id="{{ form.checks.id_for_label }}" name="{{ form.checks.html_name }}" class="checkbox_form">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12" id="product-image">
                      <input id="product-image" name="product_img" type="image" class="form-control validate"/>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4" style="margin-top: -20px;">
                      <div class="custom-file mt-3 mb-3">
                        <input id="fileInput" type="file" style="display:none;" name="img" />
                        <input
                          type="button"
                          name="img"
                          class="btn btn-primary btn-block mx-auto"
                          value="افزودن تصویر فاکتور"
                          onclick="document.getElementById('fileInput').click();"
                        />
                      </div>
                    </div>
                    <div class="col-12" style="margin-top: 25px;">
                      <button type="submit" class="btn btn-primary btn-block text-uppercase">اضافه کردن محصول</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  {% comment %} loading product details {% endcomment %}
  <script>
    function handleProductSelection(productId) {
      $.ajax({
        url: '{% url "product_details" %}',  // Replace with your actual URL
        method: 'GET',
        data: { product_id: productId },
        success: function(response) {
          // Update the product details in the UI
          var productDetailsHtml = `
            <h4>${response.name}</h4>
            <p>${response.dec}</p>
            <p>Price: ${response.price}</p>
            <!-- Add more details as needed -->
          `;
          $('#product-details').html(productDetailsHtml);
    
          // Update the product image in the UI
          var productImageHtml = `
            <img src="${response.image_url}" alt="${response.name}" class="img-fluid">
          `;
          $('#product-image').html(productImageHtml);
    
          // Update the price field with the fetched product's price
          $('#price').val(response.price);
        },
        error: function(error) {
          console.log('Error:', error);
        }
      });
    }
    
  </script>

  {% comment %} Calculating the total price {% endcomment %}

  <script>
    function calculateTotalPrice() {
      // Get the elements
      var quantityInput = document.getElementById('number');
      var priceInput = document.getElementById('price');
      var totalPriceInput = document.getElementById('total_price');
      
      // Parse the values
      var quantity = parseInt(quantityInput.value);
      var price = parseFloat(priceInput.value);
      
      // Calculate the total price
      var totalPrice = quantity * price;
      
      // Set the calculated total price to the input field
      totalPriceInput.value = totalPrice.toFixed(2); // Display with two decimal places
    }
  </script>
  
</html>
{% endblock %}
