{% extends 'main.html' %}
{% block content %}
{% load static %}
<html lang="fa">
  <body>
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">افزودن محصول</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="" dir="rtl" method="post" class="tm-edit-product-form" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >نام محصول
                    </label>
                    <br>
                    <input
                      id="name"
                      name="name"
                      type="text"
                      class="form-control validate"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="dec"
                      >توضیحات</label
                    >
                    <br>
                    <input
                      margin-right: -35px;
                      id="dec"
                      name="dec"
                      type="text"
                      class="form-control validate"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="category"
                      >دسته‌بندی</label
                    >
                    <br>
                    <select class="custom-select tm-select-accounts" id="category" dir="ltr" name="Category">
                      <option value="">دسته بندی را انتخاب کنید</option>
                      {% for cat in category %}
                          <option value="{{ cat.id }}">{{ cat.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="price"
                            >قیمت
                          </label>
                          <br>
                          <input
                            id="price"
                            name="price"
                            type="number"
                            class="form-control validate"
                            required
                          />
                        </div>
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="number"
                            >تعداد موجود در انبار
                          </label>
                          <br>
                          <input
                            id="number"
                            name="number"
                            type="number"
                            class="form-control validate"
                            required
                          />
                        </div>
                  </div>
                  
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" style="display:none;" name="img" />
                  <input
                    type="button"
                    name="img"
                    class="btn btn-primary btn-block mx-auto"
                    value="افزودن تصویر"
                    onclick="document.getElementById('fileInput').click();"
                  />
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">اکنون محصول اضافه کنید</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
