{% extends 'main.html' %}
{% block content %}
{% load static %}
<body id="reportsPage">
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-products">
                    <div class="tm-product-table-container">
                        <table class="table table-hover tm-table-small tm-product-table">
                            <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">نام محصول</th>
                                    <th scope="col">قیمت</th>
                                    <th scope="col">تعداد محصول در انبار</th>
                                    <th scope="col">تاریخ ثبت محصول</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            {% for i in product %}
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="tm-product-name"><a href="{{i.id}}" style="color: white;">{{ i.name }}</a></td>
                                    <td>{{ i.price }}</td>
                                    <td style="text-align: center;">{{ i.number }}</td>
                                    <td dir="rtl">{{ i.jtime }}</td>
                                    <td>
                                        <a href="{% url 'delete_product' pk=i.pk %}" class="tm-product-delete-link">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- container جدول -->
                    <a href="{% url 'add_products' %}" class="btn btn-primary btn-block text-uppercase mb-3">افزودن محصول جدید</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                    <h2 class="tm-block-title">دسته‌بندی محصولات</h2>
                    <div class="tm-product-table-container">
                        <table class="table tm-table-small tm-product-table">
                            {% for i in category %}
                            <tbody>
                                <tr>
                                    <td class="tm-product-name">{{ i.name }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'delete_category' pid=i.pk %}" class="tm-product-delete-link">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- container جدول -->
                    <button class="btn btn-primary btn-block text-uppercase mb-3">
                        <a href="{% url 'add_category' %}" style="color:white">
                            افزودن دسته‌بندی جدید
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
