{% extends 'main.html' %} 
{% block content %} 
{% load static %}
<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>حساب‌ها - قالب مدیریت محصول</title>
  </head>

  <body id="reportsPage">
    <div class="" id="home">
      <div class="container mt-5">
        <div class="row tm-content-row">
          <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
              <h2 class="tm-block-title">لیست حساب‌ها</h2>
              <p class="text-white">حساب‌ها</p>
              <select class="custom-select">
                <option value="0">حساب را انتخاب کنید</option>
                <option value="1">مدیر</option>
                <option value="2">ویرایشگر</option>
                <option value="3">تاجر</option>
                <option value="4">مشتری</option>
              </select>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="col-12 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow" style="overflow-y: scroll;">
              <h2 class="tm-block-title">لیست کاربران</h2>
              {% for i in users %}
              <div class="tm-notification-items">
                  <div class="media tm-notification-item">
                      <div class="tm-gray-circle"><img src="{% static 'img/notification-01.jpg' %}" alt="تصویر آواتار" class="rounded-circle"></div>
                      <div class="media-body">
                          <p class="mb-2"><b>{{ i.user }}</b><a href="{{i.id}}" class="tm-notification-link">{{ i.name }}</a></p>
                          <span class="tm-small tm-text-color-secondary">{{ i.date_created }}</span>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
        </div>
      </div>
  </body>
</html>
{% endblock %}
