{% extends 'main.html' %}
{% block content %}
{% load static %}
<html lang="fa">
  <body>
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">افزودن مشتری</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="" method="post" class="tm-edit-product-form" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >نام مشتری
                    </label>
                    <input
                      id="name"
                      name="name"
                      type="text"
                      class="form-control validate"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="company_name"
                      >نام شرکت</label
                    >
                    <input
                      id="company_name"
                      name="company_name"
                      type="text"
                      class="form-control validate"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="address"
                      >آدرس شرکت</label
                    >
                    <input
                      id="address"
                      name="address"
                      type="text"
                      class="form-control validate"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="customer_numb"
                      >شماره تلفن همراه شرکت</label
                    >
                    <input
                      id="customer_numb"
                      name="customer_numb"
                      type="number"
                      class="form-control validate"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="customer_phone_static"
                      >شماره تلفن ثابت شرکت</label
                    >
                    <input
                      id="customer_phone_static"
                      name="customer_phone_static"
                      type="number"
                      class="form-control validate"
                      required
                    />
                  </div>
                  <label
                      for="display" style="color: white;"> 
                      ما تماس گرفتیم ؟
                    </label>
                    <br>
                    <input type="checkbox" id="{{ form.be_called.id_for_label }}" name="{{ form.be_called.html_name }}" class="checkbox_form" {% if form.be_called.value %}checked{% endif %}>
                    <br>
                    <label for="display" style="color: white;">
                      مشتری تماس گرفته است ؟
                    </label>
                    <br>
                    <input type="checkbox" id="{{ form.called.id_for_label }}" name="{{ form.called.html_name }}" class="checkbox_form" {% if form.called.value %}checked{% endif %}>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" style="display:none;" name="img"
                  for="img" />
                  <input
                    name="img"
                    for="img"
                    type="button"
                    class="btn btn-primary btn-block mx-auto"
                    value="آپلود تصویر"
                    onclick="document.getElementById('fileInput').click();"
                  />
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">اکنون مشتری اضافه کنید</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
