{% extends 'main.html' %}
{% block content %}
{% load static %}
  <body>
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">ویرایش مشتری</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="" method="post" class="tm-edit-product-form" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >نام مشتری
                    </label>
                    <br>
                    {{ form.name }}
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >نام شرکت
                    </label>
                    <br>
                    {{ form.company_name }}
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >آدرس شرکت
                    </label>
                    <br>
                    {{ form.address }}
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >شماره شرکت
                    </label>
                    <br>
                    {{ form.customer_numb }}
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >شماره تلفن همراه شرکت
                    </label>
                    <br>
                    {{ form.customer_phone_static }}
                  </div>
                  <div class="form-group mb-3" style="color: white">
                    <label
                      for="date"
                      >تاریخ ثبت
                    </label>
                    <br>
                    <input type="text" dir="rtl" value="{{ customer.jtime }}" readonly/>
                  </div>
                  
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4" style="margin-top: -20px;">
                <div class="tm-product-img-edit mx-auto">
                    {% if customer.img %}
                        <a href="{{ customer.img.url }}" target="_blank">
                            <img src="{{ customer.img.url }}" alt="تصویر پروفایل" style="border-radius: 50px;" class="img-fluid d-block mx-auto">
                        </a>
                    {% else %}
                        <img src="{% static 'images/placeholder-image.png' %}" alt="تصویر محصول" class="img-fluid d-block mx-auto">
                    {% endif %}
                    <i class="fas fa-cloud-upload-alt tm-upload-icon" onclick="document.getElementById('fileInput').click();"></i>
                </div>
                <div class="col-12">
                  <input id="fileInput" type="file" style="display:none;" name="img" />
                  <input
                    type="button"
                    name="img"
                    class="btn btn-primary btn-block mx-auto"
                    value="تغیر پروفایل"
                    style="margin-top: 20px;"
                    onclick="document.getElementById('fileInput').click();"
                  />
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase" style="margin-top: 20px;">بروزرسانی</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function() {
        $("#expire_date").datepicker({
          defaultDate: "22/10/2020"
        });
      });
    </script>
  </body>
</html>
{% endblock %}
