{% extends 'main.html' %} 
{% block content %} 
{% load static %}
<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>صفحه ورود - قالب مدیریت محصول</title>
  </head>

  <body>
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-12 mx-auto tm-login-col">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="tm-block-title mb-4">به داشبورد خوش آمدید، وارد شوید</h2>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <form action="" method="post" class="tm-login-form">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% comment %} <div class="form-group">
                    <label for="name">نام کاربری</label>
                    <input
                      name="name"
                      for="name"
                      type="text"
                      class="form-control validate"
                      id="username"
                      value=""
                      required
                    />
                  </div>
                  <div class="form-group mt-3">
                    <label for="password">رمز عبور</label>
                    <input
                      name="password"
                      for="password"
                      type="password"
                      class="form-control validate"
                      id="password"
                      value=""
                      required
                    />
                  </div> {% endcomment %}
                  <div class="form-group mt-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase"
                    >
                      ورود
                    </button>
                  </div>
                  <button class="mt-5 btn btn-primary btn-block text-uppercase"><a href="{% url 'password_reset' %}" style="color: #fff;">
                    رمز عبور خود را فراموش کرده‌اید؟</a>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
