{% extends 'main.html' %} 
{% block content %} 
{% load static %}
<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>پروفایل - قالب مدیریت محصول</title>
  </head>

  <body id="reportsPage">
    <div class="" id="home">
      <div class="container mt-5">
        <!-- row -->
        <div class="row tm-content-row">
          <div class="tm-block-col tm-col-account-settings">
            <div class="tm-bg-primary-dark tm-block tm-block-settings">
              <h2 class="tm-block-title">تنظیمات حساب کاربری</h2>
              <form action="" method="post" class="tm-signup-form row" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group col-lg-6">
                  <label for="name">نام حساب</label>
                  <br/>
                  {{ form.name }}
                </div>
                <div class="form-group col-lg-6">
                  <label for="email">ایمیل حساب</label>
                  <br/>
                  {{ form.email }}
                </div>
                <div class="form-group col-lg-6">
                  <label for="phone">تلفن</label>
                  <br/>
                  {{ form.phone }}
                </div>
                <div class="form-group col-lg-6">
                  <label for="phone">آخرین ورود</label>
                  <br/>
                  <input type="text" dir="rtl" value="{{ request.user.last_login }}"/>
                </div>
                <div class="form-group col-lg-6">
                  <label for="phone">تاریخ ثبت نام</label>
                  <br/>
                  <input type="text" dir="rtl" value="{{ users.date_created }}"/>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4" style="margin-top: 20px;">
                  <div class="tm-product-img-edit mx-auto">
                    {% if users.profile_img %}
                        <a href="{{ users.profile_img.url }}" target="_blank">
                            <img src="{{ users.profile_img.url }}" alt="تصویر پروفایل" style="border-radius: 50px" class="img-fluid d-block mx-auto">
                        </a>
                    {% else %}
                        <img src="{% static 'images/placeholder-image.png' %}" alt="تصویر پروفایل" class="img-fluid d-block mx-auto">
                    {% endif %}
                    <i class="fas fa-cloud-upload-alt tm-upload-icon" onclick="document.getElementById('fileInput').click();"></i>
                  </div>
                  <div class="col-12">
                    <input id="fileInput" type="file" style="display:none;" name="profile_img" />
                    <input type="button" name="profile_img" class="btn btn-primary btn-block mx-auto" value="تغییر پروفایل" style="margin-top: 20px;" onclick="document.getElementById('fileInput').click();"/>
                  </div>  
                </div>
                <div class="col-12" style="margin-bottom: 20px;">
                  <label class="tm-hide-sm">&nbsp;</label>
                  <button
                    type="submit"
                    class="btn btn-primary btn-block text-uppercase"
                  >
                    به‌روزرسانی پروفایل
                  </button>
                </div>
                 {% comment %} <div class="col-12">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block text-uppercase"
                  ><a href="{% url 'delete_account' %}" style="color: #fff;">
                    حذف حساب کاربری</a>
                  </button>
                  </div> {% endcomment %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
