{% load static %}
<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>مدیریت محصول - قالب HTML داشبورد</title>
    <link href="https://fonts.googleapis.com/css2?family=Sahel:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}" />
    <!--
	قالب CSS مدیریت محصول
	https://templatemo.com/tm-524-product-admin
	-->
  </head>

  <nav class="navbar navbar-expand-xl">
    <div class="container h-100">
      <a class="navbar-brand" href="{% url 'Home' %}">
        <h1 class="tm-site-title mb-0">مدیریت محصول</h1>
      </a>
      <button
        class="navbar-toggler ml-auto mr-0"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="تغییر ناوبری"
      >
        <i class="fas fa-bars tm-nav-icon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto h-100">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'Home' %}">
              <i class="fas fa-tachometer-alt"></i>
              داشبورد
              <span class="sr-only">(فعلی)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="far fa-file-alt"></i>
              <span> گزارش‌ها <i class="fas fa-angle-down"></i> </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">گزارش روزانه</a>
              <a class="dropdown-item" href="#">گزارش هفتگی</a>
              <a class="dropdown-item" href="#">گزارش سالیانه</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">
              <i class="fas fa-shopping-cart"></i>
              محصولات
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'factor' %}">
              <i class="fas fa-file"></i>
              فاکتور
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'service' %}">
              <i class="fas fa-file"></i>
              خدمات
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'customer' %}">
              <i class="fa fa-user-edit"></i>
              مشتریان
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account' %}">
              <i class="far fa-user"></i>
              حساب‌ها
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-cog"></i>
              <span> تنظیمات <i class="fas fa-angle-down"></i> </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'profile_edit' %}">پروفایل</a>
              <a class="dropdown-item" href="#">صورتحساب</a>
              <a class="dropdown-item" href="#">سفارشی‌سازی</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            {% if request.user.is_authenticated %}
                <a class="nav-link d-block" href="{% url 'logout' %}">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ request.user.name }}, <b>خروج</b>
                </a>
            {% else %}
                <a class="nav-link d-block" href="{% url 'login' %}">
                  <b>ورود</b>
                </a>
            {% endif %}
          </li>
          <li>
            <a class="nav-link d-block" href="{% url 'register' %}">
              <b>ثبت نام</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %} {% endblock %}

  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        کپی‌رایت &copy; <b>۲۰۲۳</b> تمامی حقوق محفوظ است.
      </p>
    </div>
  </footer>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <!-- https://jquery.com/download/ -->
  <script src="{% static 'js/moment.min.js' %}"></script>
  <!-- https://momentjs.com/ -->
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <!-- http://www.chartjs.org/docs/latest/ -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- https://getbootstrap.com/ -->
  <script src="{% static 'js/tooplate-scripts.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <script>
    Chart.defaults.global.defaultFontColor = "white";
    let ctxLine,
      ctxBar,
      ctxPie,
      optionsLine,
      optionsBar,
      optionsPie,
      configLine,
      configBar,
      configPie,
      lineChart;
      {% comment %} barChart;
      pieChart; {% endcomment %}
    // DOM is ready
    $(function () {
      drawLineChart(); // نمودار خطی
      drawBarChart(); // نمودار میله‌ای
      drawPieChart(); // نمودار دایره‌ای

      $(window).resize(function () {
        updateLineChart();
        updateBarChart();
      });
    });
  </script>
</html>
